@media (min-width: 1920px){
  main{
    font-size: 16px;
  }
}

@media (min-width: 1081px){
  main{
    font-size: 14px;
  }
}

@media (max-width: 1080px){
  main{
    font-size: 12px;
  }
}

.planner-tabs{
  padding: 0% 10%; /* top/bottom, left/right */
}

.settings-tab{
  background-color: var(--table-color);

  display: flex;
  flex-direction: column; /* Display buttons vertically */

  border-radius: 0.5em 0 0 0.5em; /* top-left, top-right, bottom-right, bottom-left */
  padding: 0.5em;
}

.settings-tab .btn{ /* All buttons on settings tab */
  --bs-btn-color: #212529; /* Set light mode default text color */
  --bs-btn-hover-color: var(--bs-gray-dark);

  font-size: 1.5em; /* Set icon size */
  padding: 0px;
}

form .btn{ /* Separate form buttons in CharSettings modal */
  margin-right: 0.5em;
}