/* Table color formatting */

:root{ /* Sets the table's theme color (other colors are derived from this) */
  --color: var(--bs-blue);
}

.table > :not(caption) > * > * { /* Override Bootstrap table selector */
  background-color: var(--color); /* Override background color */
  /* Override text color within table so dark mode doesn't impact visibility */
  color: #212529; /* Set light mode default text color */
}

td, th{ /* Set border color to the table's theme color */
  border: 1px solid var(--color);
}

.section-title{ /* Sets derived color for section titles */
  background-color: color-mix(in srgb, var(--color) 75%, white 25%) !important;
}

.read-only{ /* Sets derived color for read-only fields */
  background-color: color-mix(in srgb, var(--color) 50%, white 50%) !important;
}

.writeable{ /* Sets derived color for writeable fields */
  background-color: color-mix(in srgb, var(--color) 25%, white 75%) !important;
}

/* Input formatting */

.invis-input{
  /* Hide the visual aspects of the input element */
  background: none;
  border: none;
  padding: 0;

  /* Override text color within table so dark mode doesn't impact visibility */
  color: #212529; /* Set light mode default text color */

  /* Fill parent element */
  width: 100%;

  /* Inherit global font weight specified in App.css */
  font-weight: inherit;
}

.invis-input.goal-name{
  min-width: 100px;
}

input:disabled{ /* Disabled input has same text color as surroundings */
  color: unset;
}

/* Other formatting */

.bold{ /* Custom bold for gold value and total row */
  font-weight: 400;
}