/* Table color formatting */

.table > :not(caption) > * > * { /* Override Bootstrap table selector */
  background-color: var(--table-color); /* Override background color */
  /* Override text color within table so dark mode doesn't impact visibility */
  color: #212529; /* Set light mode default text color */
}

td, th{ /* Set border color to the table's theme color */
  border: 1px solid var(--table-color);
}

.section-title{ /* Sets derived color for section titles */
  background-color: color-mix(in srgb, var(--table-color) 75%, white) !important;
}

/* Goal buttons formatting */

.section-title.goals{
  border-right: none; /* Hide extra border to the right of "Goals" */
}

.section-title.goal-btns{
  border-left: none; /* Hide extra border to the right of "Goals" */
  text-align: right;
  padding: calc(0.375em - 1px); /* Reduce padding according to button height to maintain row size */
}

.section-title.goal-btns button{
  background-color: var(--table-color);
  border: 1px solid var(--table-color);
  color: #212529; /* Set light mode default text color */
  margin-left: 0.5em; /* Separate buttons */
  line-height: 1em; /* Reduce button height to fit in row */
}