/* Table color formatting */

.mat2{
  background-color: var(--mat2-color); /* Override background color */
  border-color: var(--mat2-color);
}

.mat2.section-title{ /* Sets derived color for section titles */
  background-color: color-mix(in srgb, var(--mat2-color) 75%, white) !important;
}

.mat2.section-title button{
  background-color: var(--mat2-color);
  border: 1px solid var(--mat2-color);
}

.mat2.read-only{ /* Sets derived color for read-only fields */
  background-color: color-mix(in srgb, var(--mat2-color) 50%, white) !important;
}

.mat2.writeable{ /* Sets derived color for writeable fields */
  background-color: color-mix(in srgb, var(--mat2-color) 25%, white) !important;
}

.table-head .mat2.table-cell{
  border: 1px solid var(--mat2-color);
  background-color: var(--mat2-color);  
}

.mat2.table-row{
  border-right: 1px solid var(--mat2-color);
}

/* Checkbox color formatting */

.mat1-checkbox .form-check-input{
  background-color: color-mix(in srgb, var(--table-color) 50%, white);
  border-color: var(--table-color);
}

.mat1-checkbox .form-check-input:checked{
  background-color: var(--table-color);
}

.mat2-checkbox .form-check-input{
  background-color: color-mix(in srgb, var(--mat2-color) 50%, white);
  border-color: var(--mat2-color);
}

.mat2-checkbox .form-check-input:checked{
  background-color: var(--mat2-color);
}