/* All pages common styling */

body{
  font-family: "Noto Sans", system-ui;
  font-weight: 300;
}

main{
  margin: 0% 5% 0% 5%; /* top, right, bottom, left */
}

a{
  color: var(--bs-body-color); /* Set link color to text color */
}